header {
  padding: 20px;
  background: black;
  color: white;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}



  .cart {
    padding: 5px;
    border: 1px solid silver;
    background: rgb(131, 218, 164);
    margin-right: 0;
  } 